<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Crackable? | Password Generator</title>
</head>

<div id="maindiv">
    <h1>Crackable?</h1>
    <h3>Password Generator</h3>
    
    <form action="{{ url_for('PasswordGen') }}" method="post">
        <input placeholder="Password Length" id="Length" type="text" name="length" class="css-input">
        <label for="lchars">Include Lowercase Characters</label>
        <input type="checkbox" id="lchars" name="lchars" class="css-input">
        <label for="uchars">Include Uppercase Characters</label>
        <input type="checkbox" id="uchars" name="uchars" class="css-input">
        <label for="nums">Include Numbers</label>
        <input type="checkbox" id="nums" name="nums" class="css-input">
        <label for="symbols">Include Symbols</label>
        <input type="checkbox" id="symbols" name="symbols" class="css-input">
        <button type="submit">Generate</button>
        <br>
    </form>

    <!-- Add the code for the "Crackable?" feature here, if needed -->

    <br>
    <a href="{{ url_for('CrackableMain') }}" class="btn">Back</a>
</div>
</html>
