<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   


    <title>Crackable? | Password Generator</title>



</head>


<div id="maindiv">

    
    <h1>Crackable?</h1>
    <h3>Password Generator</h3>

    <form action="{{ url_for('PasswordGen') }}" method="post">

        <input placeholder="Password Length" id="Length" type="text" name="length" class="css-input"></input>
        <input type="checkbox" id="lchars" name="lchars" class="css-input">
        <input type="checkbox" id="uchars" name="uchars" class="css-input">
        <input type="checkbox" id="nums" name="nums" class="css-input">
        <input type="checkbox" id="symbols" name="symbols" class="css-input">
        <button>Generate</button>
        <br>

        <!-- <input placeholder="Enter Cracking H/s" id="Hashes" type="text" name="Hashes" class="css-input"></input> -->

        <br>


        </select>



        <br>
        <button type="submit" class="btn">Crackable?</button>
        <br>
        <br>
        <a href="{{ url_for('CrackableMain') }}">Back</a>

    </form>

    <form action="{{ url_for('CrackableMain') }}" method="get">

 

</div id='maindiv'>