<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    <title>Crackable? | Secure</title>



</head>


<div id="maindiv">


    <h1>Crackable?</h1>

    <h2></h2>
      

        
    <a href="{{ url_for('CrackableMain') }}" class="css-input">Back</a>

    
    <div>
        <h2>How It Works</h2>
        <p>Crackable works by analyzing your password and it calculates how long it would take to crack a hash which hides encrypts your password on a login page</p>

    </div>

</div id='maindiv'>