<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Crackable? | Secure</title>
</head>
<body>
    <div id="maindiv">
        <header class="site-header">
            <div class="brand-box"><h1>Crackable?</h1></div>
            <p>{{ response }}</p>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <a href="{{ url_for('password_gen') }}" class="btn">Generate a New Password</a>
            <a href="{{ url_for('crackable_main') }}" class="btn">Back</a>
        </header>

        <section class="info-block">
            <h2>How It Works</h2>
            <p>Crackable operates by analyzing your password and determining the time it would take to break a hash. This hash serves to encrypt your password when it's used on a login page, enhancing security and protecting your sensitive information.</p>
        </section>
    </div>
</body>
</html>
